---
# tasks file for thinpool autoextends

- name: lvm_autoextends | configure lvm autoextends
  template:
    src: thinpool-profile.j2
    dest: /etc/lvm/profile/{{ avvg.vgname }}-{{ avlv.lvname }}.profile
    owner: root
    group: root
  become: yes
  loop: "{{ avvg.lvmetanames }}"
  loop_control:
    loop_var: avlv
  when: >
    (
    (avlv is defined and
    avlv != 'None') and
    (
    avlv.autoextendtreshold is defined and
    avlv.autoextendpercent is defined
    )
    )

- name: lvm_autoextends | apply metadata profile
  command: lvchange --metadataprofile {{ avvg.vgname }}-{{ avlv.lvname }} {{ avvg.vgname }}/{{ avlv.lvname }}
  changed_when: false
  become: yes
  loop: "{{ avvg.lvmetanames }}"
  loop_control:
    loop_var: avlv
  when: >
    (
    (avlv is defined and
    avlv != 'None') and
    (
    avlv.autoextendtreshold is defined and
    avlv.autoextendpercent is defined
    )
    )